body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 10px;
}

header {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f2dede;
}

nav a {
    text-decoration: none;
    color: #a94442;
    padding: 10px;
    display: block;
}

main {
    padding: 10px;
}

footer {
    background-color: #f2dede;
    padding: 10px;
    text-align: center;
}

.blog-content, .contact-content {
    background-color: #f2dede;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#backButton {
    margin-top: 10px;
    cursor: pointer;
}
